---
layout: archive
title: ""
permalink: /teaching/
author_profile: true
---

<hr>
<h1 style="font-size: 1.2em;">Eduacation & Employment</h1>

<h2 style="font-size: 1.0em;">2024–2025: University of Liege</h2>
<ul>
  <li>
    Research Scientist/Project Leader, Urban and Environmental Engineering (Funded by European Union),<br>
    Principal investigator – Anne Marie Habraken: <a href="mailto:anne.habraken@uliege.be">anne.habraken@uliege.be</a>
  </li>
</ul>
<hr>
<h2 style="font-size: 1.0em;">2022–2023: Northwestern University</h2>
<ul>
  <li>
    Postdoc, McCormick School of Engineering, AMPL (USA Vannevar Bush Faculty Fellowship award),<br>
    Supervisor – <a href="https://www.mccormick.northwestern.edu/research-faculty/directory/profiles/cao-jian.html">Jian Cao</a>: 
    <a href="mailto:jcao@northwestern.edu">jcao@northwestern.edu</a>
  </li>
</ul>
<hr>
<h2 style="font-size: 1.0em;">2018–2022: National University of Singapore</h2>
<ul>
  <li>
    Ph.D., Mechanical Engineering (Singapore research scholarship),<br>
    Supervisor – <a href="https://blog.nus.edu.sg/yanwt/people/">Wentao Yan</a>: 
    <a href="mailto:mpeyanw@nus.edu.sg">mpeyanw@nus.edu.sg</a>
  </li>
</ul>

<hr>

<h2 style="font-size: 1.0em;">2011-2018: Huazhong University of Science & Technology</h2>
<ul>
  <li>2015-2018: Master of Engineering, Design & Manufacture of Ships and Marine Structure (China Graduate Scholarship)</li>
  <li>2011-2015: Bachelor of Engineering, Naval Architecture & Ocean Engineering (2012 China National Scholarship)</li>
</ul>

<hr>


<h1 tyle="font-size: 1.2em;">Teaching</h1>

{% include base_path %}

{% for post in site.teaching reversed %}
  {% include archive-single.html %}
{% endfor %}
