---
layout: archive
title: "Academic experience"
permalink: /teaching/
author_profile: true
---

<h1>Academic experience</h1>

<h2>University of Liege</h2>
<ul>
  <li>2024-2025: Research Scientist, Urban and Environmental Engineering (Funded by European Union),<br>
      Supervisor - Anne Marie Habraken: <a href="mailto:anne.habraken@uliege.be">anne.habraken@uliege.be</a>
  </li>
</ul>

<hr>

<h2>Northwestern University</h2>
<ul>
  <li>2022-2023: Postdoc, McCormick School of Engineering, AMPL (USA Vannevar Bush Faculty Fellowship award),<br>
      Supervisor - Jian Cao: <a href="mailto:jcao@northwestern.edu">jcao@northwestern.edu</a>
  </li>
</ul>

<hr>

<h2>National University of Singapore</h2>
<ul>
  <li>2018-2022: Ph.D., Mechanical Engineering (Singapore research scholarship),<br>
      Supervisor - Wentao Yan: <a href="mailto:mpeyanw@nus.edu.sg">mpeyanw@nus.edu.sg</a>
  </li>
</ul>

<hr>

<h2>Huazhong University of Science & Technology</h2>
<ul>
  <li>2015-2018: Master of Engineering, Design & Manufacture of Ships and Marine Structure (China Graduate Scholarship)</li>
  <li>2011-2015: Bachelor of Engineering, Naval Architecture & Ocean Engineering (2012 China National Scholarship)</li>
</ul>

<hr>

{% include base_path %}

{% for post in site.teaching reversed %}
  {% include archive-single.html %}
{% endfor %}
