---
layout: archive
title: "Academic experience"
permalink: /teaching/
author_profile: true
---

# Education and employment

## University of Liege
• 2024-2025: Research Scientist, Urban and Environmental Engineering (Funded by European Union),  
Supervisor- Anne Marie Habraken: anne.habraken@uliege.be

---

## Northwestern University
• 2022-2023: Postdoc, McCormick School of Engineering, AMPL (USA Vannevar Bush Faculty Fellowship award),  
Supervisor- Jian Cao: jcao@northwestern.edu

---

## National University of Singapore
• 2018-2022: Ph.D., Mechanical Engineering (Singapore research scholarship),  
Supervisor- Wentao Yan: mpeyanw@nus.edu.sg

---

## Huazhong University of Science & Technology 
• 2015-2018: Master of Engineering, Design & Manufacture of Ships and Marine Structure (China Graduate Scholarship)  
• 2011-2015: Bachelor of Engineering, Naval Architecture & Ocean Engineering (2012 China National Scholarship)

---

# Teaching

{% include base_path %}

{% for post in site.teaching reversed %}
  {% include archive-single.html %}
{% endfor %}
